<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-xl w-full space-y-8">
    <div>
      <h2 class="text-center text-3xl font-extrabold text-gray-900">Inscription</h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Ou
        <a routerLink="../login" class="font-medium text-indigo-600 hover:text-indigo-500"> Connectez vous ici si vous
          avez déjà un compte </a>
      </p>
    </div>
    <form action="#">
      <div class="shadow overflow-hidden sm:rounded-md">
        <div class="px-4 py-5 bg-white sm:p-6">
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
              <label for="first-name" class="block text-sm font-medium text-gray-700">Prénoms</label>
              <input [(ngModel)]="user.prenom" type="text" name="first-name" id="first-name"
                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="last-name" class="block text-sm font-medium text-gray-700">Nom</label>
              <input [(ngModel)]="user.nom" type="text" name="last-name" id="last-name"
                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-6">
              <label for="email-address" class="block text-sm font-medium text-gray-700">Adresse e-mail</label>
              <input [(ngModel)]="user.nomUtilisateur" required type="email" name="email-address" id="email-address"
                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-6 lg:col-span-3">
              <label for="city" class="block text-sm font-medium text-gray-700">Mot de passe</label>
              <input [(ngModel)]="user.mdp" required type="password" name="city" id="city"
                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <!-- <div class="col-span-6 sm:col-span-6 lg:col-span-3">
              <label for="city" class="block text-sm font-medium text-gray-700">Confirmation</label>
              <input required type="text" name="city" id="city"
                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div> -->

          </div>
        </div>
        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
          <button type="submit" (click)="signUp()"
            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">S'inscrire</button>
        </div>
      </div>
    </form>
  </div>
</div>
