<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3" *ngFor="let col of columns">
          {{col}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let order of order; let i = index">
        <th scope="row" class="px-6 font-medium text-gray-900 dark:text-white whitespace-nowrap">
          {{order.dish}}
        </th>
        <td class="px-6 py-2"> {{order.cout| number}} </td>
        <td class="px-6 py-2"> {{order.price| number}} </td>
        <td class="px-6 py-2">{{order.dateOrder | date}} </td>
        <td class="px-6 py-2">
          <app-switch-toogle [isChecked]="order.visible" [identity]="'#visible'+i"></app-switch-toogle>
        </td>
      </tr>
    </tbody>
  </table>
</div>
