<div class="min-h-full">
  <app-navbar></app-navbar>
  <app-header title="Assignement de commande pour les livreurs"></app-header>
  <div class="flex justify-start my-2">
    <div class="mx-5">
      <select id="countries"
        class="px-12 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option>Livreur 1</option>
        <option>Livreur 2</option>
        <option>Livreur 3</option>
        <option>Livreur 4</option>
      </select>
    </div>
    <div><button type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Assigné</button>
    </div>
  </div>
  <app-drag-and-drop></app-drag-and-drop>
</div>
<app-footer></app-footer>
