
<div style="display: flex" class="mb-5">
  <div class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 mx-5" >
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-blue-700 dark:text-white">Commandé</h5>
    <div class="card-body" style="width: 200px;">
      <div  cdkDropList [cdkDropListData]="orders" [cdkDropListConnectedTo]="secondList"
           #firstList="cdkDropList"
        (cdkDropListDropped)="drop($event)">
        <!-- <div *ngFor="let todo of todoList" class="pop" cdkDrag>
          {{todo}}</div> -->
          <app-order-card *ngFor="let order of orders" [order]="order" cdkDrag></app-order-card>
      </div>
    </div>
  </div>


  <div class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 mx-5" >
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-yellow-300 dark:text-white">A Livré</h5>
    <div class="card-body" style="width: 200px;">
      <div cdkDropList [cdkDropListData]="orders1" [cdkDropListConnectedTo]="firstList"
           #secondList="cdkDropList"
        (cdkDropListDropped)="drop($event)">
        <app-order-card *ngFor="let order of orders1" [order]="order" cdkDrag></app-order-card>
      </div>
    </div>
  </div>

  <div class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 mx-5" >
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-green-500 dark:text-white">Livré</h5>
    <div class="card-body" style="width: 200px;">
        <app-order-card *ngFor="let order of orders1" [order]="order"></app-order-card>
    </div>
  </div>

</div>
