<div class="min-h-full flex items-center justify-center py-8 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md space-y-8">
    <div>
      <img class="mx-auto w-auto my-5" src="../../../assets/logo.png" alt="Workflow">
      <h3 class="text-center text-3xl font-extrabold text-gray-900">Mot de passe oublié</h3>
    </div>
    <form class="mt-4 space-y-6">
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="email-address" class="sr-only">Code de validation</label>
          <input [(ngModel)]="code" required type="text" id="email-address" name="email"class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Code de validation">
        </div>
      </div>

      <div>
        <button (click)="validerCode()" type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Valider
        </button>
      </div>
    </form>
  </div>
</div>
