<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3" *ngFor="let col of columns">
          {{col}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let client of clients; let i = index">
        <th scope="row" class="px-6 font-medium text-gray-900 dark:text-white whitespace-nowrap">
          {{client.nom}}
        </th>
        <td class="px-6"> {{client.prenom}} </td>
        <td class="px-6"> {{client.nomUtilisateur}} </td>
        <td class="px-6 mx-auto py-1">
          <button type="button"
            class="text-indigo-700 border border-indigo-700 hover:bg-indigo-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800">
            <svg class="w-6 h-6" data-darkreader-inline-stroke="" fill="none" stroke="currentColor"
              style="--darkreader-inline-stroke:currentColor;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
              </path>
            </svg> </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
